<html lang="sv" ng-app="FriskisApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body layout="column" ng-controller="ActivityListViewController">
    <md-toolbar>
      <div class="md-toolbar-tools">
        Friskis Linköping
      </div>
    </md-toolbar>

    <div layout="row" flex>
      <div layout="column" flex id="content">

        <md-tabs>
          <md-tab ng-repeat="date in dates">
            <md-tab-label>
              {{ date | date:'EEEE d MMM' }}
            </md-tab-label>

            <div ng-if="!activities" layout="row" layout-sm="column" layout-align="space-around">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>

            <activity-list ng-show="activities" items="activities"></activity-list>
          </md-tab>
        </md-tabs>

      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-resource.min.js"></script>

    <script src="//code.angularjs.org/1.3.6/i18n/angular-locale_sv-se.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.7.1/angular-material.min.js"></script>

    <script src="/static/app.js"></script>
    <script src="/static/resources/activity.js"></script>
    <script src="/static/activity-list/activity-list-view.js"></script>
    <script src="/static/activity-list/activity-list.js"></script>
  </body>
</html>
