<md-bottom-sheet class="md-list md-has-header">
  <h3>{{ activity.name }}</h3>
  <div>
      {{ activity.venue }}
  </div>
  <div>
      {{ activity.start | date:'EEEE d MMMM HH:mm' }} {{ activity.end | date:'shortTime' }}
  </div>
  <div ng-if="activity.leader_name">
    {{ activity.leader_name }}
  </div>
  <div>
    {{ activity.booked_places }} bokade platser av {{ activity.bookable_places }}
  </div>
  <p></p>

  <md-divider></md-divider>

  <md-list ng-if="activity.booked_places < activity.bookable_places">
    <md-item>
      <md-button>
        <i class="fa fa-2x fa-plus-circle"></i>
        <span class="md-inline-list-icon-label" ng-click="book(activity)" ng-disabled="loading">Boka passet</span>
      </md-button>
    <md-progress-circular md-mode="indeterminate" ng-if="loading"></md-progress-circular>
    </md-item>
  </md-list>

</md-bottom-sheet>
